---
// Recreate Starlight's header and add custom NavBar
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import "../style.css";
---

<div class="header-custom">
  <div class="title-wrapper">
    <SiteTitle {...Astro.props} />
  </div>

  <div class="nav-wrapper">
    <nav class="navbar">
      <a href="/case_study/overview">Case Study</a>
      <a href="/team">Team</a>
    </nav>
  </div>

  <div class="right-group">
    <Search {...Astro.props} />
    <SocialIcons {...Astro.props} />
  </div>
</div>
