:root {
  --sl-color-accent-low: #02137b;
  --sl-color-accent: #03b9f4;
  --sl-color-accent-high: #e8dfe2;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 250px;
  margin: 6px;
  padding: 12px 20px;
  border-radius: 12px;
}

.profile {
  border: 1px solid var(--sl-color-gray-4);
  background-color: var(--sl-color-gray-5);
}

[data-theme="light"] .profile {
  border: 1px solid var(--sl-color-bg-nav);
  background-color: var(--sl-color-bg);
}

.profile h3 {
  font-size: 24px;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-list a {
  padding: 8px;
  background-color: #54576b;
  border-radius: 50%;
}

[data-theme="light"] .link-list a {
  background-color: var(--sl-color-bg-nav);
}

.header-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}

.nav-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: left;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: #03b9f4; /* Starlight's accent color */
  font-weight: 500;
}

a:hover {
  color: var(--sl-color-white);
}

.right-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Hides Search, Social, and ThemeSelect on mobile */
@media (max-width: 50rem) {
  .right-group {
    display: none;
  }
}
